<h2 class="content-block">Lista de Clientes</h2>


<dx-data-grid
id="gridContainer"
[dataSource]="results"
[allowColumnReordering]="true"
[allowColumnResizing]="true"
[columnAutoWidth]="true"
[showBorders]="true"
[showColumnLines]="false"
[showRowLines]="true"
[showBorders]="true"
[rowAlternationEnabled]="true">
    <dxi-column dataField="identificationType"></dxi-column>
    <dxi-column dataField="identificationNumber"></dxi-column>
    <dxi-column dataField="customerType"></dxi-column>
    <dxi-column dataField="customerName"></dxi-column>
    <dxi-column dataField="city"></dxi-column>
    <dxi-column dataField="customerAddress"></dxi-column>
    <dxi-column dataField="phone"></dxi-column>
    <dxi-column dataField="email"></dxi-column>
    <dxi-column dataField="birthDate"></dxi-column>
</dx-data-grid>

