<h2 class="content-block">Lista de Facturas</h2>


<dx-data-grid
id="gridContainer"
[dataSource]="results"
[allowColumnReordering]="true"
[allowColumnResizing]="true"
[columnAutoWidth]="true"
[showBorders]="true"
[showColumnLines]="false"
[showRowLines]="true"
[showBorders]="true"
[rowAlternationEnabled]="true">
    <dxi-column dataField="orderNumber"></dxi-column>
    <dxi-column dataField="createDate"></dxi-column>
    <dxi-column dataField="totalTax"></dxi-column>
    <dxi-column dataField="totalDiscount"></dxi-column>
    <dxi-column dataField="totalOrder"></dxi-column>
</dx-data-grid>
